/* #region NET */
/* tablet-1  : 1279.98px; */
/* tablet-2  : 989.98px; */
/* smartphone: 767.98px; */
/* small-phone: 480px; */
/* #endregion */

/* #region GENERAL */

:root {
  --height-main        : 880px;
  --height-advantages  : 280px;
  --height-newsletter  : 480px;
  --height-about-us    : 844px;
  --height-applications: 500px;
  --height-latest-news : 900px;

  --text-color-white                    : #FFFFFF;
  --text-color-primary                  : #D4D4D4;
  --text-color-secondary                : #767676;
  --text-color-advantages-decription    : #D4D4D4;
  --text-color-newsletter-subdescription: #f5f5f5a1;
  --text-color-title-light              : #F5F5F5;
  --text-color-title-dark               : #272727;
  --text-color-description              : #626262;
  --text-color-title-green              : #14BE5A;

  --text-color-hover: #14BE5A;

  --btn-color-primary: #14BE5A;
  --btn-color-active : #F5F5F5;
  --btn-color-active-dark : #464646;

  --bg-color-light: #F5F5F5;
  --bg-color-dark : #272727;
}

html {
  scroll-behavior: smooth;
}

body {
  color      : var(--text-color-primary);
  font-family: "Open Sans", sans-serif;
}

[class*="-topic"] {
  font-family: "Mulish", sans-serif;
}

.wrapper {
  min-height    : 100%;
  overflow      : hidden;
  display       : flex;
  flex-direction: column;
}

[class*="-container"] {
  max-width: 1234px;
  margin   : 0 auto;
  padding  : 25px 32px;
}

[class*="-btn"] {
  cursor          : pointer;
  background-color: var(--btn-color-primary);
  border          : none;
  border-radius   : 34px;
  color           : var(--text-color-title-light);
  font-family     : "Open Sans", sans-serif;
  font-size       : 17px;
  font-weight     : 700;
  width           : 154px;
  height          : 52px;
}

[class*="-btn"]:hover {
  background-color: var(--btn-color-active);
  color           : var(--text-color-title-dark);
  transition      : 0.5s;
}

[class*="-btn-dark"]:hover {
  background-color: var(--btn-color-active-dark);
  color           : var(--text-color-title-light);
  transition      : 0.5s;
}

@media (max-width: 1279.98px) {
  [class*="-container"] {
    max-width: 1120px;
  }
}

@media (max-width: 989.98px) {
  [class*="-container"] {
    max-width: 830px;
  }
}

@media (max-width: 767.98px) {
  [class*="-container"] {
    max-width: none;
  }
}

/* #endregion */

/* #region HEADER */

.header {
  position: absolute;
  top     : 0;
  left    : 0;
  width   : 100%;
}

@media (min-width: 989.98px) {
  .header {
    background-color: rgba(39, 39, 39, 0.565);
  }
}

.header-container {
  min-height     : 90px;
  display        : flex;
  justify-content: space-between;
  align-items    : center;
  column-gap     : 60px;
}

/* #region HEADER LOGO */

.header-logo-img {
  height: 40px;
  width : auto;
}

/* #endregion */

/* #region HEADER MENU */

.header-menu-box {
  width          : 100%;
  display        : flex;
  justify-content: space-between;
}

.header-menu {
  font-size      : 14px;
  width          : 100%;
  display        : flex;
  justify-content: space-between;
}

/* #region HEADER MENU BURGER */

#burger-toggle,
.header-menu-label,
.header-menu {
  display: none;
}

.header-menu-ul {
  display        : flex;
  justify-content: center;
  column-gap     : 28px;
  flex           : 1 1 auto;
}

@media (max-width: 989.98px) {

  .header-menu {
    width: fit-content;
  }

  .header-menu-box {
    display        : flex;
    flex-direction : row;
    justify-content: flex-end;
  }

  .header-logo {
    z-index : 3;
    position: absolute;
  }

  .header-menu {
    font-size: 16px;
  }

  .header-menu-label {
    margin-left: auto;
  }

  .header-menu-label {
    position: relative;
    display : block;
    height  : 25px;
    width   : 30px;
  }

  .header-menu-label::after,
  .header-menu-label::before,
  .header-menu-label span {
    position        : absolute;
    width           : 100%;
    height          : 3px;
    background-color: #fff;
    transition      : 0.3s;
  }

  .header-menu-label::before {
    content: "";
    top    : 0;
  }

  .header-menu-label::after {
    content: "";
    bottom : 0;
  }

  .header-menu-label span {
    top: 11px;
  }

  #burger-toggle:checked~.header-menu-label::after {
    transform: rotate(45deg);
    bottom   : 10px;
  }

  #burger-toggle:checked~.header-menu-label::before {
    transform: rotate(-45deg);
    top      : 12px;
  }

  #burger-toggle:checked~.header-menu-label span {
    transform: rotate(-45deg);
    top      : 12px;
  }
}

/* #endregion */

.header-menu-ul-li {
  align-self: center;
}

.header-menu-ul-li-a {
  color          : var(--text-color-title-light);
  font-weight    : 650;
  text-decoration: underline;
}

.header-menu-ul-li-a:hover {
  color: var(--text-color-hover);
}

@media (max-width: 989.98px) {

  .header-menu {
    display         : flex;
    flex-direction  : column;
    justify-content : flex-start;
    row-gap         : 30px;
    width           : 100%;
    top             : -200vh;
    bottom          : 100vh;
    position        : fixed;
    left            : 0;
    right           : 0;
    background-color: #272727;
    text-align      : center;
    padding-top     : 90px;
  }

  .header-menu-ul {
    display        : flex;
    justify-content: flex-start;
    flex-direction : column;
    row-gap        : 30px;
    flex           : 0;
  }

  #burger-toggle:checked~.header-menu {
    top   : 0;
    bottom: 0;
  }

  #burger-toggle:checked~.header-menu-label {
    z-index: 1;
  }
}

@media (min-width: 989.98px) {

  /* .header-menu-ul { */
  .header-menu {
    display        : flex;
    justify-content: center;
    flex           : 1 1 auto;
    flex-wrap      : wrap;
    column-gap     : 23px;
    row-gap        : 5px;
  }
}

/* #endregion */

/* #region HEADER SOCIAL*/

.header-social {
  display        : flex;
  justify-content: space-around;
  column-gap     : 15px;
}

@media (max-width: 989.98px) {
  .header-social {
    justify-content: center;
  }
}

.header-social-a {
  display: block;
}

.header-social-a-img {
  height: 31px;
}

/* #endregion */

/* #endregion */

/* #region MAIN */

.page {
  flex: 1 1 auto;
}

/* #endregion */

/* #region WELCOME */

.welcome {
  height             : var(--height-main);
  background         : url("../images/clean-energy.png");
  background-position: 70% 10%;
  background-size    : cover;
  background-repeat  : no-repeat;
}

.welcome-container {
  padding-top: 300px;
}

.welcome-title {
  color         : var(--text-color-title-light);
  font-size     : 12px;
  font-weight   : 800;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.welcome-clean-energy-topic {
  margin-top   : 19px;
  color        : var(--text-color-title-light);
  line-height  : 89px;
  font-size    : 74px;
  font-weight  : 800;
  margin-bottom: 42px;
}

.welcome-embrace-renewable {
  font-size    : 18px;
  font-weight  : 600;
  margin-bottom: 42px;
}

.welcome-btn {
  width           : 186px;
  height          : 52px;
  border          : 2px solid white;
  background-color: transparent;
  vertical-align  : bottom;
}

.welcome-btn-primary {
  border          : none;
  background-color: var(--btn-color-primary);
  margin-right    : 16px;
}

.welcome-btn-secondary {
  width: 194px;
}

.welcome-phone-span {
  vertical-align: middle;
  margin-right  : 10px;
}

@media(max-width: 767.98px) {
  .welcome-container {
    padding-top: 210px;
  }

  .welcome-clean-energy {
    font-size  : 54px;
    line-height: 65px;
  }

  .welcome-clean-energy-br {
    display: none;
  }

  .welcome-btn {
    margin-bottom: 20px;
  }
}

/* #endregion */

/* #region SECTION COMMON */

.section-title {
  color         : var(--text-color-title-green);
  font-size     : 12px;
  font-weight   : 800;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom : 20px;
}

.section-topic {
  color        : var(--text-color-title-dark);
  font-size    : 46px;
  font-weight  : 700;
  margin-bottom: 24px;
}

.section-description {
  color        : var(--text-color-description);
  font-size    : 18px;
  font-weight  : 600;
  margin-bottom: 58px;
}

/* #endregion */

/* #region SERVICES */

.services-container {
  padding-top   : 120px;
  text-align    : center;
  padding-bottom: 130px;
}

.services-grid {
  display              : grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap           : 30px;
  row-gap              : 50px;
}

@media(max-width: 480px) {
  .services-grid {
    grid-template-columns: 1fr;
  }
}

.sevices-grid-cell-img {
  max-width     : 100%;
  padding-bottom: 16px;
}

.services-grid-cell-text {
  text-align: left;
}

.services-glid-cell-title {
  color         : var(--text-color-title-dark);
  font-size     : 24px;
  font-weight   : 650;
  padding-bottom: 16px;
}

.services-glid-cell-title::after {
  content         : "";
  display         : block;
  width           : 57px;
  height          : 4px;
  background-color: var(--text-color-title-green);
  margin          : 18px 0 0;
  /* відступ і центрування */
}

.services-glid-cell-decrition {
  color         : var(--text-color-secondary);
  padding-bottom: 20px;
}

.services-glid-cell-learn-more {
  color          : var(--text-color-secondary);
  font-size      : 14px;
  font-weight    : 700;
  text-decoration: underline;
}


/* #endregion */

/* #region WHAT-WE-OFFER */

.what-we-offer {
  height         : var(--height-main);
  display        : flex;
  justify-content: space-between;
}

.what-we-offer-img {
  width     : 50%;
  object-fit: cover;
}

.what-we-offer-content {
  color      : var(--text-color-secondary);
  font-weight: 500;

  width           : 50%;
  background-color: var(--bg-color-light);
  display         : flex;
  flex-direction  : column;
  justify-content : center;
  padding         : 72px;
}

.what-we-offer-description {
  margin-bottom: 28px;
}

.what-we-offer-text {
  padding-bottom: 32px;
}

.what-we-offer-item {
  display       : flex;
  align-items   : center;
  column-gap    : 14px;
  padding-bottom: 32px;
}

.what-we-offer-item-text-topic {
  color      : var(--text-color-title-dark);
  font-size  : 24px;
  font-weight: 650;
}

.what-we-offer-item-text-desription {}

@media(max-width: 767.98px) {
  .what-we-offer {
    height        : auto;
    flex-direction: column;
  }

  .what-we-offer-img {
    width: 100%;
  }

  .what-we-offer-content {
    width: auto;
  }
}

/* #endregion */

/* #region ADVANTAGES */

.advantages {
  height    : var(--height-advantages);
  background: var(--bg-color-dark);
}

.advantages-container {
  height         : 100%;
  display        : flex;
  justify-content: space-between;
  align-items    : center;
}

.advantages-item {
  text-align: center;
  padding   : 20px 0 20px 0;
}

.advantages-item-topic {
  color         : var(--text-color-title-light);
  font-size     : 46px;
  font-weight   : 750;
  padding-bottom: 28px;
}

.advantages-item-title {}

.advantages-item-description {
  color      : var(--text-color-advantages-decription);
  font-size  : 14px;
  font-weight: 500;
  margin     : auto;
}

/* #endregion */

/* #region NEWSLETTER */

.newsletter {
  height     : var(--height-newsletter);
  display    : flex;
  align-items: center;
  position   : relative;
}

.newsletter::before {
  content   : "";
  position  : absolute;
  inset     : 0;
  background: fixed no-repeat 57.81% 30.52% / cover #272727 url(./../images/bg-newsletter.png);
  filter    : contrast(0.5) brightness(0.5);
  z-index   : -1;
}

.newsletter-container {
  position       : relative;
  z-index        : 0;
  display        : flex;
  justify-content: space-between;
}

.newsletter-text {
  width         : 45%;
  display       : flex;
  flex-direction: column;
  row-gap       : 26px;
}

.newsletter-text-title {
  margin: 0;
}

.newsletter-text-topic {
  color      : var(--text-color-white);
  font-size  : 46px;
  font-weight: 650;
}

.newsletter-text-description {
  color      : var(--text-color-primary);
  font-size  : 18px;
  font-weight: 600;
}

.newsletter-text-subdescription {
  color      : var(--text-color-newsletter-subdescription);
  font-weight: 500;
}

.newsletter-form {
  width           : 49%;
  background-color: var(--bg-color-dark);
  display         : flex;
  flex-direction  : column;
  justify-content : center;
  row-gap         : 24px;
  padding         : 0 30px;
}

.newsletter-form-email {
  height          : 40px;
  border-radius   : 20px;
  background-color: rgba(255, 255, 255, 0.05);
  padding-left    : 20px;
  font-size       : 14px;
  font-weight     : 550;
  color           : var(--text-color-white);
}

.newsletter-form-email::placeholder {
  color      : var(--text-color-primary);
  font-weight: 500;
}

.newsletter-form-email:focus {
  outline-color: #3b99fc;
}

.newsletter-form-submit-btn {
  height          : 40px;
  width           : 100%;
  border-radius   : 20px;
  background-color: var(--btn-color-primary);
  font-size       : 16px;
  font-weight     : 700;
}

/* #endregion */

/* #region ABOUT-US */

.about-us {
  height         : var(--height-about-us);
  display        : flex;
  justify-content: space-between;
}

.about-us-img {
  width     : 50%;
  object-fit: cover;
}

.about-us-content {
  color      : var(--text-color-secondary);
  font-weight: 500;

  width           : 50%;
  background-color: var(--bg-color-light);
  display         : flex;
  flex-direction  : column;
  justify-content : center;
  padding         : 72px;
}

.about-us-description {
  margin-bottom: 28px;
}

.about-us-text {
  padding-bottom: 32px;
}

.about-us-btn {
  width: 150px;
}

@media(max-width: 767.98px) {
  .about-us {
    height        : auto;
    flex-direction: column;
  }

  .about-us-img {
    width: 100%;
  }

  .about-us-content {
    width: auto;
  }
}

/* #endregion */

/* #region APPLICATIONS */

.applications {
  height       : var(--height-applications);
  display      : grid;
  grid-template: repeat(2, auto) / repeat(4, 1fr);
}

.applications-item {
  position       : relative;
  overflow       : hidden;
  display        : flex;
  flex-direction : column;
  justify-content: center;
  align-items    : center;
}

.applications-item-img {
  position  : absolute;
  inset     : 0;
  width     : 100%;
  height    : 100%;
  object-fit: cover;
  z-index   : -1;
  filter    : brightness(0.5) contrast(0.9);
  transition: transform 1s ease, filter 0.7s ease;
}

.applications-item:hover .applications-item-img {
  transform: scale(1.1);
  filter   : brightness(0.2) contrast(0.9) blur(4px);
}

.applications-item-topic {
  font-size  : 24px;
  font-weight: bold;
}

.applications-item-decription {
  text-align: center;
  padding   : 20px 0 45px 0;
}

.applications-item-btn {
  width : 48px;
  height: 38px;
}

.applications-item-decription,
.applications-item-btn {
  opacity   : 0;
  visibility: hidden;
  transition: opacity 0.5s ease, transform 0.5s ease, visibility 0.5s;
}

.applications-item:hover .applications-item-decription,
.applications-item:hover .applications-item-btn {
  opacity   : 1;
  visibility: visible;
}

/* #endregion */

/* #region LATEST-NEWS */

.latest-news {
  height: var(--height-latest-news);
  padding: 100px 0;
}

.latest-news-container {
  text-align: center;
}

.latest-news-topic {}

.latest-news-decription {
  margin-bottom: 50px;
}

.latest-news-content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 30px;
}

.latest-news-content-item {
  text-align: left;
}

.latest-news-content-img {
  width: 100%;
  height: 262px;
  border: 11px solid var(--bg-color-light);
  margin-bottom: 20px;
}

.latest-news-content-topic {
  font-weight: 700;
  margin-bottom: 20px;
}

.latest-news-content-text {
  color: var(--text-color-secondary);
  font-weight: 400;
  line-height: 25px;
  margin-bottom: 40px;
}

.latest-news-content-btn {}

.latest-news-content-btn:hover {

}

/* #endregion */